//main:master.scss
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
$font-stack: "Futura", Helvetica, sans-serif;
$font-stack-p: 'Open Sans', sans-serif;
$color-primary: #2b393d;
$color-body: #352C2B;
$color-main: #f8f8f8;
